ul {
	border: 1px solid #000;
	height: 100%;
	width: 100%;
	list-style: none;
	display: flex;
	flex-flow: column;
	justify-content: baseline;
	align-items: start;
	padding: 1rem 1.5rem;
}

ul li {
	font-size: 1.5rem;
	margin: .5rem 0;
	font-weight: bold;
}